<?xml version="1.0"?>
<launch>

    <!-- Parameters and Arguments -->
    <arg name="name"               default="bluerov2" />        <!-- Name of the vehicle being launched -->   
    <arg name="folder"             default="submeeting" />           <!-- Name of the folder for the configuration files -->     
    <arg name="config_package"     default="medusa_launch"/>  <!-- Name of the package where the configuration files are stored -->

    <arg name="dollar" value="$" />
    <arg name="config_package_path"  value="(find $(arg config_package)" />

    <!-- Load topic names and Common configurations for all topics -->

	<include file="$(find tools)/launch/bluerov2.launch"/>
	<!-- <include file="$(find drivers_open)/launch/ardusub.launch"/> -->

    <!-- Launch the Processes in process.yaml -->
    <node pkg="medusa_bringup" type="medusa_bringup_node" name="medusa_bringup" respawn="false" output="screen">
        <rosparam command="load" file="$(arg dollar)$(arg config_package_path))/config/$(arg folder)/$(arg name)/process.yaml"/>
        <param name="name"                  value="$(arg name)"/>
        <param name="config_package_path"   value="$(arg config_package_path)"/>
        <param name="folder"                value="$(arg folder)" />
        <param name="namespace"             value="false"/>
        <param name="process_state_publish_rate" type="double" value="0.33" />
    </node>

</launch>
