<?xml version="1.0"?>
<launch>

  	<group ns="drivers">
		<rosparam command="load" file="$(find tools)/config/config.yaml"/>

		<!-- <node pkg="tools" type="ardusub_thrust_allocation" name="ardusub_thrust_allocation" respawn="false" output="screen" /> -->
		<!-- <node pkg="tools" type="imu_to_meas" name="imu" respawn="true" output="screen" /> -->
		<!-- <node pkg="tools" type="pressure_to_meas" name="pressure" respawn="true" output="screen" /> -->
		<!-- <node pkg="waterlinked-dvl" type="publisher.py" name="dvl"/> -->
	</group>
	
</launch>
