<?xml version="1.0"?>
<launch>

	<rosparam command="load" file="$(find tools)/config/config.yaml"/>

	<node pkg="tools" type="imu_to_meas" name="imu_to_meas" respawn="false" output="screen">
	</node>

	<node pkg="tools" type="pressure_to_meas" name="pressure_to_meas" respawn="false" output="screen">
		<!-- <rosparam command="load" file="$(find tools)/config/config_pres.yaml"/> -->
	</node>
</launch>
